<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angel.createcon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".CreateConActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GetConsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyStormpathLoginActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Tracking.Track"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ConsignmentDetail" />
        <activity
            android:name=".Park.Park"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Pickup.DriverPickup" />
        <activity android:name=".Pickup.PickupDetailActivity" />
        <activity android:name=".FileHandler.FileUpload"></activity>
    </application>

</manifest>